<%- layout('layout/main.ejs') %>

<h1>MENU PRINCIPAL</h1>
<div class="card card-body">
    <h3><%= user.email%></h3>
    <p><%= user.name%></p>
    <p><%= user.password%></p>
    <p><%= user.id%></p>
</div>


 <h1>MENU PRINCIPAL</h1>